UserStorageSystem/StorageSystemTester/Service References/ServiceReference/UserStorageSystem.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserStorageSystem.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserStorageSystem.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Gender_x003E_k__BackingField" type="tns:Gender" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PersonalId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_VisaRecords_x003E_k__BackingField" nillable="true" type="tns:ArrayOfVisa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfVisa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visa" type="tns:Visa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisa" nillable="true" type="tns:ArrayOfVisa" />
  <xs:complexType name="Visa">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Country" nillable="true" type="xs:string" />
      <xs:element name="End" type="xs:dateTime" />
      <xs:element name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visa" nillable="true" type="tns:Visa" />
</xs:schema>